body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(33,128,158);
  background: linear-gradient(90deg, rgba(33,128,158,0.9192051820728291) 0%, rgba(166,25,241,0.9023984593837535) 100%);
  font-family: "Courier New", Courier, monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}